.about {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 85vh;

  &__left {
    display: grid;
    grid-template-rows: 1fr 8rem;
  }

  &__right {
    display: grid;
    grid-template-rows: 8rem 1fr;
  }

  &__img {
    background-image: url(../img/img-about.jpg);
    background-size: cover;
    background-position: center;
  }

  &__text {
    text-align: right;
    background-color: $color-primary;
    color: #fff;
    padding-top: 6rem;

    &-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .line {
        background-color: #fff;
        margin-left: 2rem;
      }
    }

    &-content {
      padding: 0 10rem 0 8rem;
      display: flex;
      flex-direction: column;

      p {
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }

      & > .h-large {
        color: #fff;
      }
    }

    &-btn {
      align-self: flex-end;
    }
  }
}
