* {
  border: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  background-color: #fff;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}
