.gallery {
  &__header {
    margin-bottom: 3rem;
  }

  &__content {
    padding: 0 10rem;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }

    .gallery-subheading {
      color: $color-primary;
      position: relative;

      &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        height: 1px;
        width: 0;
        background-color: $color-secondary-light;
        transition: width 0.5s;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &-images {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-column-gap: 4rem;
    }

    .gallery-left {
      height: 45rem;
    }

    .gallery__image {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;

      cursor: pointer;
    }

    .gallery-right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      height: 40rem;

      &__item {
        height: 12rem;
        position: relative;

        &:hover {
          .gallery-right__item-caption {
            opacity: 1;
            visibility: visible;
          }
        }

        &-caption {
          position: absolute;
          bottom: 0;
          right: 0;

          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          height: 100%;
          width: 100%;
          padding-left: 2rem;

          opacity: 0;
          visibility: hidden;
          transition: all 0.5s;
          cursor: pointer;

          background-image: linear-gradient(
            to bottom left,
            rgba(#333, 0.25),
            rgba(#333, 0.9)
          );

          &--text {
            font-size: 1.3rem;
            color: #fff;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.g-btn {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to top right,
    rgba($color-secondary-light, 0.9),
    rgba($color-secondary, 0.9)
  );

  cursor: pointer;
  transition: all 0.2s;

  .icon-arrow {
    fill: #fff;
  }

  &:hover {
    background: linear-gradient(
      to top right,
      rgba($color-secondary-light, 1),
      rgba($color-secondary, 1)
    );
  }

  &:active {
    transform: translateY(2px);
  }
}

.see-all-btn {
  grid-column: 3/4;
  justify-self: start;
  align-self: end;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  width: 50%;

  text-transform: capitalize;
  color: $color-primary;
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 0.5s;

  & > .icon-arrow {
    fill: currentColor;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-secondary-light;
    height: 1%;
    width: 100%;
    transition: all 0.5s;
  }

  &:hover {
    color: #fff;

    &::after {
      z-index: -1;
      height: 100%;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}

@keyframes anime {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(10%);
  }
}
