.review {
  background-color: rgba(#eee, 0.5);
  padding: 4rem 10rem;
  margin-top: -2rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;

    padding: 2rem 0;
  }

  &__card {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 2rem;

    background-color: #fff;
    padding: 2rem;

    &--image {
      display: flex;
      align-items: center;

      .customer-img {
        display: block;
        height: 6rem;
        width: 6rem;
        border-radius: 100px;
        object-fit: cover;

        margin-right: 2rem;
      }

      .rating-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-primary2;

        &:not(:last-of-type) {
          fill: $color-secondary;
        }
      }
    }

    &--text {
      font-size: 1.3rem;
      font-weight: 400;
      color: $color-primary;
    }

    &--name {
      position: relative;
      padding-top: 1rem;
      margin-top: 2rem;

      .customer-name {
        text-transform: capitalize;
        font-size: 1.6rem;
        color: $color-secondary;
      }

      .customer-food {
        font-size: 1.3rem;
        color: $color-grey;
      }

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        height: 1%;
        width: 30%;
        background-color: $color-grey-light;
      }
    }
  }

  &__slider {
    align-self: flex-end;
    margin-top: 2rem;
  }
}
