// $color-primary: rgba(9, 9, 51, 0.925);
$color-primary: rgba(5, 5, 24, 0.836);
$color-primary2: rgba(44, 62, 80, 1);
$color-secondary: rgb(255, 72, 0);
$color-secondary-light: rgb(253, 102, 56);

$color-grey: rgba(61, 61, 60, 0.705);
$color-grey-light: rgb(204, 204, 204);

$shadow-light: 0 0.2rem 0.6rem rgba(#000, 0.5);
